<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.acidflow.waveplay" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.WavePlay"
        android:name=".WavePlayApp" >
        <activity
            android:name=".ui.activities.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.WavePlayServerService" android:exported="false" />
        <service android:name=".service.WavePlayAudioPlaybackService" android:exported="false" />
        <meta-data android:name="com.crashlytics.ApiKey" android:value="c0dbca37364d29dbaa3fd1f301fcad8b3b04ab60"/>
    </application>

</manifest>
